.table {
  width: 100%;
  overflow-x: auto;

  
  h3{
    font-size: 24px;    
  }
  p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(125, 138, 158);
    line-height: 20.8px;
    letter-spacing: -0.01em;
  }
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table thead tr {
  th{
    width: 35%;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(21, 39, 77);
  border-radius: 40px 40px 0px 0px;
  
  
}

.table table tbody tr {
  background-color: #f5f7f9;
  color: #1c3466;
  td{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  width: 100%;
  min-height: 155px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.table table th {
  font-weight: 700;
}

.table table th,
.table table td {
  padding: 8px 16px;
  text-align: left;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid;
}
